<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class=container>
    <h1>Create Volunteers</h1>
    <form method="POST" action="{% url 'signupemp' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
            <small id="usernameHelp" class="form-text text-muted">Please enter your exact username </small>
        </div>
        <div class="form-group">
            <label for="username">full_Name</label>
            <input type="text" name="full_Name" class="form-control" id="full_Name" aria-describedby="usernameHelp">
        </div>
        <div class="form-group">
            <label for="username">ngo_id</label>
            <input type="text" name="ngo_id" class="form-control" id="ngo_id">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password1" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="password">Retype Password</label>
            <input type="password" name="password2" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <textarea type="text" name="location" class="form-control" id="location"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <h1>The Current Schemes</h1>
    {% for i in schemes %}
    <a href="{% url 'schemaview' i.id %}">{{i}}</a>
    <br>
    {% endfor %}
    <h1>Add new Schemes</h1>
    <form method="POST" action="{% url 'schemaadd' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" name="title" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="income_max">income_max</label>
            <input type="number" name="income_max" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="password">income_min</label>
            <input type="number" name="income_min" class="form-control" id="password">
        </div>
        <select id="cars" name="state">
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Telangana">Telangana</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
        </select>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea type="text" name="description" class="form-control" id="location"></textarea>
        </div>
        <div class="form-group">
            <label for="max_fam">max_fam</label>
            <input type="number" name="max_fam" class="form-control">
        </div>
        <div class="form-group">
            <label for="max_fam">min_fam</label>
            <input type="number" name="min_fam" class="form-control">
        </div>
        <div class="form-group">
            <select id="cars" name="living">
                <label for="title">Living</label>
                <option value="OWN HOUSE">OWN HOUSE</option>
                <option value="RENT">RENT</option>
                <option value="Other">other</option>
            </select>
        </div>
        <div class="form-group">
            <select id="cars" name="organization">
                <label for="title">organization</label>
                <option value="Organised ">Organised </option>
                <option value="UnOrganised">UnOrganised</option>
                <option value="Other">other</option>
            </select>
        </div>
        <div class="form-group">
            <select id="cars" name="gender">
                <label for="title">Gender</label>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">other</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>