<form action="#" method="post">
    <fieldset>
        <legend>Login Form</legend>
        <label for="username">Username
            <input type="text" name="username" id="username" value="" />
        </label>
        <label for="teacherpass">Password:
            <input type="password" name="password" id="password" value="" />
        </label>
        <p>
            <input type="submit" name="teacherlogin" id="teacherlogin" value="Login" />
            &nbsp;
        </p>
    </fieldset>
</form>